extends _pug-includes/layout

block vars 
    - var current = 'Portfolio'
    - var domain = 'mohamedhasan.site'

block content
    .m-pagetransition
        include _pug-includes/sidebar.pug
        .page-content.hp.px-2.px-lg-5.pb-4.pt-2.overflow-hidden.d-block
            include _pug-includes/navbar.pug
            
            .container.pt-5.text-center
                include _pug-includes/maintainance-alert.pug
            
            section.pb-5.pt-lg-5
                .container-fluid
                    // HTML TEMPLATES
                    .text-center.mb-5.pb-5
                        h2.serif-font-family.lined.lined-center.mb-4.text-xl.pb-lg-3 HTML Templates
                        .row.mb-5.mb-4
                            .col-lg-8.mx-auto
                                p.lead.text-muted.mb-0 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                        
                        .row
                            .col-lg-11.mx-auto
                                .owl-carousel.owl-theme.portfolio-carousel
                                    - var htmlItems = [] 
                                    
                                    - htmlItems.push({'title': 'Italiano Restaurant', 'description': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s.', 'image': 'italiano.png', 'url': `https://italianolight.netlify.com`})
                                    
                                    - htmlItems.push({'title': 'Neon Dashboard', 'description': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s', 'image': 'neon.png', 'url': `https://neon.${domain}`})
                                    
                                    - htmlItems.push({'title': 'Travel Blog', 'description': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s', 'image': 'travel.png', 'url': `https://travel.${domain}`})
                                    
                                    - htmlItems.push({'title': 'Juliette Blog', 'description': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s', 'image': 'juliette.png', 'url': `https://juliette.${domain}`})
                                    
                                    - htmlItems.push({'title': 'Dark Dashboard', 'description': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s', 'image': 'darkadmin.png', 'url': `https://dashdark.${domain}`})

                                    each val in htmlItems
                                        .px-3
                                            .row.align-items-center.my-0.my-lg-5
                                                .col-lg-5.text-lg-right.order-2.order-lg-1
                                                    h2.h3 #{val.title}
                                                    p.text-muted #{val.description}
                                                    if (val.themeforest == true)
                                                        a.btn.btn-outline-primary.m-1(href=val.url, target="_blank") Buy on Themeforest
                                                    a.btn.btn-primary.m-1(href=val.url, target="_blank") Live preview
                                                .col-lg-7.order-1.order-lg-2.mb-4.mb-md-5.mb-lg-0
                                                    .shot
                                                        .image
                                                            img.img-fluid(src="img/" + val.image, alt="...", height="200")
                                    
                    // PSD TEMPLATES                
                    .text-center.mb-5.pb-5
                        h2.serif-font-family.lined.lined-center.mb-4.text-xl.pb-lg-3 Design Shots
                        .row.mb-5.mb-4
                            .col-lg-8.mx-auto
                                p.lead.text-muted.mb-0 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                
                        .row
                            .col-lg-11.mx-auto    
                                .owl-carousel.owl-theme.portfolio-carousel
                                    - var designItems = [] 
                                    
                                    - designItems.push({'title': 'Italiano Restaurant', 'description': 'Spicy is a modern clean HTML template for Cafe & Restaurant and any food-related business website. It comes with a modern and smooth design.', 'image': 'juliette.png', 'url': 'https://jsfiddle.net/MhmdHasan/9Le4uo5w/14/'})
                                    
                                    - designItems.push({'title': 'Italiano Restaurant', 'description': 'Spicy is a modern clean HTML template for Cafe & Restaurant and any food-related business website. It comes with a modern and smooth design.', 'image': 'juliette.png', 'url': '#'})
                                    
                                    - designItems.push({'title': 'Italiano Restaurant', 'description': 'Spicy is a modern clean HTML template for Cafe & Restaurant and any food-related business website. It comes with a modern and smooth design.', 'image': 'juliette.png', 'url': '#'})
                                    
                                    - designItems.push({'title': 'Italiano Restaurant', 'description': 'Spicy is a modern clean HTML template for Cafe & Restaurant and any food-related business website. It comes with a modern and smooth design.', 'image': 'juliette.png', 'url': '#'})
                                    
                                    - designItems.push({'title': 'Italiano Restaurant', 'description': 'Spicy is a modern clean HTML template for Cafe & Restaurant and any food-related business website. It comes with a modern and smooth design.', 'image': 'juliette.png', 'url': '#'})

                                    each val in designItems
                                        .px-3
                                            .row.align-items-center.my-0.my-lg-5
                                                .col-lg-7.mb-4.mb-md-5.mb-lg-0
                                                    .shot
                                                        .image
                                                            img.img-fluid(src="img/" + val.image, alt="...", height="200")
                                                .col-lg-5.text-lg-left
                                                    h2.h3 #{val.title}
                                                    p.text-muted #{val.description}
                                                    if (val.themeforest == true)
                                                        a.btn.btn-outline-primary.m-1(href=val.url, target="_blank") Buy on Themeforest
                                                    a.btn.btn-primary.m-1(href=val.url, target="_blank") Live preview
                                                


                    // Bootstrap Snippets                
                    .text-center
                        h2.serif-font-family.lined.lined-center.mb-4.text-xl.pb-lg-3 Code Snippets
                        .row.mb-5
                            .col-lg-8.mx-auto
                                p.lead.text-muted.mb-0 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                        
                        .row.text-left.snippets-holder
                            - var snippets = []
                            - snippets.push({'title': 'Bootstrap Calendar', 'description': ' nicely-designed Bootstrap calendar widget. This calendar is just a for design purpose, you can make it work.', 'url': 'a4oh1uxd/2/'})
                            - snippets.push({'title': 'Boostrap Checklist', 'description': 'Using Bootstrap 5 checkbox component, create an elegant checkbox list.', 'url': '9Le4uo5w/14/'})
                            - snippets.push({'title': 'Bootstrap vertical tabs', 'description': 'Making advantage of Bootstrap 4 components, easily build an awesome tabbed interface.', 'url': 'afLphyn7/3'})
                            - snippets.push({'title': 'Animated play button', 'description': 'Using css animation and pseudo elements, create a nice animated play button.', 'url': 'dqav4kjw/3'})
                            - snippets.push({'title': 'Bootstrap checkobox list', 'description': 'Using Bootstrap 4 custom checkboxes, build an elegant food form', 'url': 'za8b1ph3/2'})
                            - snippets.push({'title': 'Bootstrap carousel quotes', 'description': 'Create an elegant quote carousel using default Bootstrap 4 carousel component.', 'url': '1xk9h0z5/3'})
                            
                            each val in snippets
                                .col-lg-4.col-md-6.mb-4
                                    .card.card-animated.border-0
                                        .card-body.rounded.shadow.p-lg-5
                                            h3.h5.font-weight-normal #{val.title}
                                            p.text-muted.limited-text #{val.description}
                                            button.btn.btn-primary.btn-sm.snippet-btn.d-none.d-sm-inline-block(type="button", data-source=`${val.url}` data-target="#snippetModal", data-toggle='modal') View snippet
                                            a.btn.btn-primary.btn-sm.d-inline-block.d-sm-none(href=`https://jsfiddle.net/MhmdHasan/${val.url}/show`  target="_blank") View snippet
                            
                            .col-12.py-4.text-center
                                button.btn.btn-outline-primary#moreSnippetsBtn(type="button") More snippets
                                                            


    .modal.fade#snippetModal
        .modal-dialog.modal-lg.border-0
            .modal-content.border-0.overflow-hidden.rounded
                .snippet-modal
                    .close-snippet.d-none.d-lg-block(data-dismiss="modal")
                    script(async, src="//jsfiddle.net/MhmdHasan/a4oh1uxd/2/embed/result,js,html,css/")
    
